<!DOCTYPE html>
<html>
<head>
	<title>Score Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container my-5">
		<h1 class="text-center mb-4">Your Score</h1>
		<div class="card">
			<div class="card-header">
				<div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Wizard</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Witch</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Leprechaun</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Dragon</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Human</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Elf</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4 class="mb-0">Fairy</h4>
          </div>
          <div class="col-md-9">
            <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">5%</div>
          </div>
        </div>
			</div>
		</div>
    <div class="row">
      <div class="col-md-5">
        <button class="btn-primary">Go Back</button>
      </div>
    </div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
